.bounding-box {
    padding: 7px;
    background: #111;
    border-radius: 3pt;
    width: 100vw;
}

.main {
    display: flex;
    justify-content: center;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;

    background-color: #101010;
    padding-top: 101px;
}

@media only screen and (min-width: 686px) {
    .bounding-box {
        width: 80vw;
        max-width: 1280px;
    }

    .main {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: calc(150px + 2vmin) 0 0 0;

        background-color: antiquewhite;
    }
}