input[type=submit] {
    color: antiquewhite;
    background-color: #111;
    border: 3px solid antiquewhite;
    padding: 10px 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;    
    font-size: large;
}

#subject-line{
    width: 100%;
}

input[type=submit]:hover {
    background-color: #ff8b00;
    color: #111;
    border: 3px solid #ff8b00;
}

.confirmation {
    display: block;
    margin: auto;
    text-align: center;
}

.confirmation img{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 30vw;
}

.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    
}

.field input{
    border: 2px solid antiquewhite;
    background-color: #111;
    color: antiquewhite;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;    
    font-size: large;
}

.field textarea {
    border: 2px solid antiquewhite;
    background-color: #111;
    color: antiquewhite;

    height: 400px;
    padding: 10px;
    resize: none;
    overflow-y: scroll;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;    
    font-size: medium;
}

.half {
    width:49%;

}

.top {
    display: flex;
    justify-content: space-between;
    
}

@media screen and (max-width: 686px) {
    .confirmation img {
        width: 50vw;
    }
}