*::-webkit-scrollbar {
    display: none;
    display:block;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
 * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.active-modal {
    overflow: hidden;
}

.close-modal {
    position: absolute;
    /*z-index: 2;*/
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;

    color: inherit;
    border: none;
    background: none;
}

.cover {
    display: block;
    position: absolute;
    
    top: 0%;
    left: 0%;
    background-color: transparent;
    height:100%;
    width: 100%;
}
 .full-meta {
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 2px dotted #333;
 }

.modal-container img {
    max-width: 75%;
    height: auto;
}

.meta-data {display: none;}

.modal-container .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    position: fixed;
    z-index: 100;
    
    
}

.overlay {
    background: rgba(49,49,49,0.8);
    overflow: hidden;
}

.open-modal{
    display: block;
    float: left;
    position: relative;
    min-width: 240px;
    min-height: 240px;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border: 3px solid #111;
    margin: 5px;
   
    border-radius: 3px;
    background-color: #111;
    cursor: pointer;

    object-fit:fill;
    overflow: hidden;
}

.open-modal:hover {
    border: 3px solid antiquewhite;
    background-color: antiquewhite;
    color: #111;
}

.open-modal img{
    
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.open-modal iframe{
   border: none;
}

.meta {
    padding: 10px;
}

.mobile{
    display: none;
}

.viewer-head {
    display: flex;
}


@media only screen and (min-width:686px) and (max-width:829px) {
    .viewport-description {
        overflow-y: scroll;
        max-height: 30vh;
        padding-right: 10px;
        text-overflow: ellipsis;
    }

    .full {
        font-size: medium;
        font-size-adjust: 1vw;
    }

    .open-modal img {

        height: 240px;
        width: 240px;
    }

    .open-modal .video {
        height: 240px;
        width: 240px;
    }

    .viewer {
        position: fixed;
        z-index: 100;
        min-width: 0;
        width: 99vw;
        max-height: 99vh;
        top:50vh;
        left:50vw;
        transform: translate(-50%, -50%);
        margin-bottom: 5vh;
        
        display: block;
        text-align: center;
        justify-content: center ;
        background-color: #111;
        border: double #fff;
        border-radius: 3px;
        line-height: 1.4;
        
        overflow:-moz-hidden-unscrollable;
    }

    .viewport-body {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .viewport-body img{
        display: block;
        margin:auto;
        height: 60vh;
        width: 60vh;
        max-height: 600px;
        max-width: 600px;
        margin: 10px;
    }
}

@media only screen and (max-width: 989px) and (min-width: 830px) { 
    .open-modal img {
        height: 300px;
        width: 300px;
    }

    .open-modal .video {
        height: 300px;
        width: 300px;
    }

    .viewer {
        position: fixed;
        z-index: 100;
        min-width: 0;
        width: 90vw;
        max-height: 99vh;
        top:50vh;
        left:50vw;
        transform: translate(-50%, -50%);
        margin-bottom: 5vh;
        
        display: block;
        text-align: center;
        justify-content: center ;
        background-color: #111;
        border: double #fff;
        border-radius: 3px;
        line-height: 1.4;
        
        overflow:-moz-hidden-unscrollable;
    }

    .viewport-body {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .viewport-body img{
        max-width: 500px;
        max-height: 500px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1222px) and (min-width:990px) {
    .open-modal img {
        height: 240px;
        width: 240px;
    }

    .open-modal .video {
        height: 240px;
        width: 240px;
    }

    .viewer {
        position: fixed;
        z-index: 100;
        min-width: 0;
        width: 90vw;
        max-height: 99vh;
        top:50vh;
        left:50vw;
        transform: translate(-50%, -50%);
        margin-bottom: 5vh;
        
        display: block;
        text-align: center;
        justify-content: center ;
        background-color: #111;
        border: double #fff;
        border-radius: 3px;
        line-height: 1.4;
        
        overflow:-moz-hidden-unscrollable;
    }

    .viewport-body {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .viewport-body img{
        max-height: 95vh;
        margin: 10px;
    }
}

@media only screen and (min-width: 1222px) {
    .viewer {
        position: fixed;
        z-index: 100;
        min-width: 0;
        width: 90vw;
        max-height: 99vh;
        top:50vh;
        left:50vw;
        transform: translate(-50%, -50%);
        margin-bottom: 5vh;
        
        display: block;
        text-align: center;
        justify-content: center ;
        background-color: #111;
        border: double #fff;
        border-radius: 3px;
        line-height: 1.4;
        
        overflow:-moz-hidden-unscrollable;
    }
    
    .viewport-body {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .viewport-body img{
        margin: 10px;
        max-width: none;
        max-height: 95vh;
    }
    
    .viewport-body iframe {
        max-width: 560px;
        max-width: 316px;
    }
    
}

.subheader {text-align: center;}
@media only screen and (max-width: 686px) {
    .close-modal {
        position: absolute;
        top:0;
        right: 0;
        padding: 0;
        margin-right: 10px;
        margin-top:5px;
    }

    .description{
        height: 100%;
        padding-top: 5px;
        display: block;
        overflow-x: hidden;
        max-height: 40vw;
        overflow-y: hidden;
    }

    .full {
        display: none;
    }

    .meta-data {
        display: block;
        width:100%;
        height:100%;
        max-height: 40vw;
        padding: 0 3%;
        text-align: left;
        text-overflow: ellipsis;
    }

    .mobile {
        display: block;
        padding: 5px;
    }

    .modal-content-fullscreen .secondary-label {
        margin: 10px 0;
    }
    

    .viewer .video{
        display: block;
        margin: 10px auto;
        width: 70vw;
        border: none;
    }

    .open-modal {
        display: flex;
        flex-direction: row;
        align-content: center;
        min-height: none;
        max-width: none;
        width:100%;
        height:240px;
        border:none;
        
    }

    .open-modal img{
        display: block;
        height: 240px;
        width: 240px;
        max-width: 40vw;
        max-height: 40vw;
        
    }

    .open-modal iframe {
        display: block;
        max-width: 40vw;
        border: none;
        max-height: none;
        height: 240px;
    }

    .secondary-label {
        width: 100%;
        border-bottom: 1px solid #aaa;
    }

    .viewer {
        position: fixed;
        z-index: 100;
        min-width: 0;
        width: 100vw;
        height: 100vh;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        margin-bottom: none;
        
        display: block;
        text-align: left;
        justify-content: center ;
        background-color: #111;
        border: double #fff;
        border-radius: 3px;
        line-height: 1.4;
        
    }
    
    .viewer img{
        display: block;
        
        width:100%;
        max-width: none;
        max-height:none;
        object-fit: scale-down;
    }
}

